<div class="row">
  <div class="col-md-8">
    <h2> List Points</h2>
    <br><br>
    <h4>Filter by Locations</h4>
    <select [(ngModel)]="selectedLocation" (ngModelChange)="getPoints(selectedLocation)" placeholder="Select Location"
      name="selectedLocation" class="form-control" id="selectedLocation" required>
      <option *ngFor="let location of locationTypes" [ngValue]="location">
        {{location}}
      </option>
    </select>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Measurement Location</th>
          <th>Measurement Date</th>
          <th>Measurement Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let point of points; let i= index">
          <td>{{point.id}}</td>
          <td>{{point.measurementLocation}}</td>
          <td>{{point.measurementYear | date : 'MM/dd/yyyy'}}</td>
          <td>{{point.measurementValue}}</td>
          <td>
            <button class="btn btn-danger" (click)="deletePoint(point.id, i)"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <br><br>
    <h4>Summary</h4>
    <div class="row">
      <div class="col-md-12">
        <p>Max Value : 12</p>
        <p>Min Value : 12</p>
        <p>Sum Value : 12</p>
        <p>Avg Value : 12</p>
      </div>
    </div>
  </div>
</div>